.home {
    margin-top: 50px;
}
.home__hero {
    padding: space(40);
    background: $indigo;
    color: #fff;
    text-align: center;
    margin-bottom: space(20);

}
.home__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.home__programme__label { // PROGRAMME
    color: $gris-moyen;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: space(8);
    padding-bottom: space(5);

}
.info-jour {
    //JOUR1//background: $jour-1;
    background: $indigo-dark;
    display: inline-block;
    margin-bottom: space(4);
    color: #FFF;
    padding: space(2) space(4);
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 4px;
    align-self: flex-end;
    margin: 0;
    font-size: .7rem;
    margin-bottom: space(8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.home__programme__titre { // Enrichir son langage visuel
    font-weight: 400;
    color: $indigo;
    font-size: 2rem;
    margin-bottom: space(12);
    padding-bottom: space(16);
    border-bottom: solid 1px $indigo-light;
    line-height: 1;
}
img {
    border-radius: space(1);
}
.grid-chapitre {

    grid-template-columns: repeat(8, 1fr);
    gap: space(8);
    margin-bottom: space(16);

// >= tablet : 2 colonnes + alternance
    @include mq-min(md) {

      .chapitre-img { 
        grid-column: 1 / 5; 
        grid-row: 1; 
      }
      .chapitre-titre {
        margin-bottom: space(8);
        color: $indigo;
        line-height: .9;
        font-size: 1.6rem;

        &::after {
            content: "";
            width: 40px;
            height: 2px;
            display: block;
            margin-top: space(6);
            background-color: $jour-1;
        }
      }
      .chapitre-infos { 
        grid-column: 5 / 9; 
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &:nth-child(even) {
        .chapitre-img    { grid-column: 5 / 9; grid-row: 1; }
        .chapitre-infos{ grid-column: 1 / 5; grid-row: 1; }
      }
    }
}


ul.chapitre-points-cles li {
    margin-bottom: space(4);
}
