.note {
  margin-bottom: space(3);
  font-size: font-size(xs);
  font-family: $font-texte;
}

.note a { text-decoration: none; }
.note a:hover { text-decoration: underline; }

aside.note[data-type=source]::before,
aside.note[data-type=comment]::before,
aside.note[data-type=key]::before {
  text-transform: uppercase; 
  opacity: .7; 
  margin: 0 0 .25rem;
  font-family: $font-titre;
  // @mixin text($size, $lh: null, $weight: null, $letter-spacing: null) {
    @include text(xs, tight, semibold, miniplus)
}

/* notes à gauche */
  aside.note[data-type="comment"],
  aside.note[data-type="key"] { grid-column: 1 / 6; align-self: start; }

  /* sources à droite */
  aside.note[data-type="source"] { grid-column: 20 / 25; align-self: end; }

  /* sticky (optionnel) */
  aside.note.sticky { position: sticky; top: 6rem; align-self: start; }

//  Le type de note
aside.note[data-type=source]::before {
  content: "source :";
}
aside.note[data-type=comment]::before {
  content: "remarque :";
}
aside.note[data-type=key]::before {
  content: "chiffre-clé :";
}
@include mq-min(md) {
  aside.note[data-type=key], aside.note[data-type=comment] {
    text-align: right;
  }
}



.zone-left {
  text-align: right;
}


/* dans ton SCSS global */
.footnotes {
  /*wrappergénéréparremark-footnotes*/
  margin-top: space(8);
  padding: space(4);
  background: #fafafa;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.footnotes > h2, .footnotes > h3 { display: none; } /* si un titre est injecté */
.footnotes ol { padding-left: 1.25rem; margin: 0; }
.footnotes li { margin: .25rem 0; }

/* à partir de laptop : colonne latérale sticky */
 @include mq-min(lg) {
//   .page-formation { display: grid; grid-template-columns: 1fr 320px; gap: 2rem; }
  .footnotes { position: sticky; top: 6rem; align-self: start; }
}
