.note {
  background: #eff6ff;
  border-radius: space(1);
  padding: space(4);
  margin-bottom: space(3);
  font-size: font-size(xs);
  font-family: $font-texte;
    position: sticky;
  top: var(--notes-offset, 80px);  // cf nav fixe
  align-self: start;
  z-index: 999;

  a { text-decoration: none; }
  a:hover { text-decoration: underline; }

  @include mq-max(md) {
    position: static;
    margin-block: space(4);
  }
}

.note[data-type="definition"] {
  background-color: #ffeff7;
}


.note[data-type=source]::before,
.note[data-type=comment]::before,
.note[data-type=key]::before {
  text-transform: uppercase; 
  opacity: .7; 
  margin: 0 0 .25rem;
  font-family: $font-titre;
  @include text(xs, tight, semibold, medium)
}

/* notes à gauche */
.note[data-type="comment"],
.note[data-type="key"] { grid-column: 1 / 5; align-self: start; }

/* sources à droite */
.note[data-type="source"],
.note[data-type="definition"] { 
  grid-column: 21 / 25; 
  align-self: end; 
}

//  Le type de note
.note[data-type=source]::before {
  content: "source :";
}
.note[data-type=comment]::before {
  content: var(--initule-note); // toDo
}
.note[data-type=key]::before {
  content: "chiffre-clé :";
}
@include mq-min(md) {
  .note[data-type=key], aside.note[data-type=comment] {
    text-align: right;
  }
}

.zone-left {
  text-align: right;
}

// PLUGIN FOOTNOTES
  .footnotes {
  /*wrappergénéréparremark-footnotes*/
  margin-top: space(8);
  padding: space(4);
  background: #fafafa;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.footnotes > h2, .footnotes > h3 { display: none; } /* si un titre est injecté */
.footnotes ol { padding-left: 1.25rem; margin: 0; }
.footnotes li { margin: .25rem 0; }

/* à partir de laptop : colonne latérale sticky */
 @include mq-min(lg) {
//   .page-formation { display: grid; grid-template-columns: 1fr 320px; gap: 2rem; }
  .footnotes { position: sticky; top: 6rem; align-self: start; }
}

