p, ul, ol, span {
    font-family: $font-texte;
}
p{
    line-height: line-height(relaxed);
}

::selection {
    background: $indigo;
    text-shadow: none;
    color: #fff;
}

::marker {
    color: $indigo;
}