---
export interface Props {
  id?: string;
  notesSide?: 'left' | 'right' | 'none'; // où placer les notes
  class?: string;
  classContainer?: string;
}
const { id, notesSide = 'right', class: cls = '', imagesSize = 'full' } = Astro.props as Props;
---
<section id={id} class={`chapitre ${cls}`}>
    <div class={`container--full grid-24`}>
        <div class="zone-main"><slot /></div>
        <slot name="notes" />
        <!-- {imagesSize === 'full' && <div class="img-full"><slot name="images" /></div>} -->
        <!-- {notesSide === 'right' && <div class="zone-right"><slot name="notes" /></div>} -->
    </div>
</section>

<style lang="scss">
    .img-full {
        grid-column:  3 / 20;
    }
</style>
