---
import '../styles/index.scss';// <-- import SCSS unique | Astro génére les <link> optimisés automatiquement
import HeaderGlobal from '../components/HeaderGlobal.astro';
const { title = 'Culture graphique' } = Astro.props;
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <slot name="head" /> <!-- pour ajouter des metas/links spécifiques -->
  </head>
  <body>
    <HeaderGlobal logoSrc="/favicon-tatziki.svg" homeUrl="/" />
    <slot /> <!-- le contenu des pages -->
  </body>
</html>

