---
import TocNav from '../components/TocNav.astro';
const { entry, headings = [] } = Astro.props;
const toc = headings.filter((h) => h.depth === 2 || h.depth === 3);
const offsetTop = 0; // ex: hauteur de ton header fixe (ajuste sinon 0)
---
<div data-toc-sentinel style="height: 200px; visibility: hidden;"></div>
<TocNav toc={toc} offset={offsetTop} />
<header class="header-page">
  <div class="container header-infos">
    <h1 class="titre-article">{entry.data.titre}</h1>
    {entry.data.baseline && <p class="titre-article-baseline">{entry.data.baseline}</p>}
  </div>
</header>

<main class="page-formation">
    <slot /> <!-- contenu MD/MDX -->
</main>

